APP_NAME="Sistem Informasi Sekretariat"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://192.168.5.150:8085
APP_LOCALE=id
APP_FALLBACK_LOCALE=en

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=sekretariat
DB_USERNAME=sekretariat
DB_PASSWORD=CHANGE_ME_STRONG_PASSWORD

SESSION_DRIVER=redis
SESSION_LIFETIME=120
QUEUE_CONNECTION=redis
CACHE_STORE=redis

REDIS_HOST=redis
REDIS_PORT=6379

FILESYSTEM_DISK=local

MAIL_MAILER=log
MAIL_FROM_ADDRESS=sekretariat@localhost
MAIL_FROM_NAME="${APP_NAME}"